*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
}

.parent{
    height: 10vh;
    background-color: rgb(170, 27, 27);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    

}
@media(max-width:768px){
    table{
        display: none;
    }
}
@media(max-width:768px){
    .parent__menu1{
        display: none;
    }
   
    
}
@media(min-width:576px){
    .dropdown{  
        display:none;
    } 
    
    
}
.parent__imglogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 3vw;

}
.parent__img__img1{
    flex: 1;
    height: 60px;
    border-radius: 200px;
}
.parent__logo{
    flex: 1;
    font-size: 2vw;
}
.parent__menu{
    display: flex;
    align-items: center;
    gap: 40PX;
    font-size: 1VW;
    text-decoration:none;
}
.parent__menu a{
    text-decoration: none;
    padding-right: 5vw;
    color: black;
}
.parent__menu a:hover{
    color: blue;
}
table,tr,td{
    border: 2px solid white;
    border-collapse: collapse;
    position: relative;

    
}
.dropdown__content {
    display: none;
    position: absolute;
    right: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(200, 0, 0, 0.2);
    min-width: 480px;
}
.dropdown button {
    

    margin-right: 20px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}
.dropdown button:focus + .dropdown__content{
    display: block;
}
.dropdown__content a{
    color: black;
    border: 1px solid gray;
    text-decoration: none;
    display: block;
    font-size: 15px;
    padding: 20px;

}
.contact__button{
    font-size: 15px;
    padding: 1vw; 
    color: white;
    background-color: #0062B9;
    text-decoration: none; 
    border-radius: 5px; 
    width: 15vw;
    border: 1px solid blue;

    
}
button:focus {
    outline: none;
}

.HOME{

    background-image: url("common-bg.svg");
    background-color: rgba(3, 41, 74,0.8);
    background-blend-mode: overlay;
    color: #FFFFFF;
    display: flex;
}
.HOME__logo{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   left: -2%;

   
}
.HOME__text{
flex: 10;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 100px;


}
.HOME__head{
    font-size: 3vw;
    
}
.HOME__P{
    font-size: 20px;
    text-align: justify;
    padding-left: 15vw;
    padding-right: 10vw;
}
.marquee{
    border: 2px solid white;
    height: 5vw;
    width: 5vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-radius: 50px;
    margin-top: 10%;
    margin-bottom: 5%;
}
@media(max-width:768px){
    .marquee{
        display: none;

    }
    .HOME{
        padding-bottom: 50px;
    }
    .ABOUT__h1{
        font-size: 40px;
    }
    .ABOUT__p{
        font-size: 2vw;

    }
    .contact__button{
        
        border-radius: 5px;
        width: 20vw;
    }
    .HOME__b {
        margin-bottom: 20px;
        
    }
  
   
}

.ABOUT{
    background-color: whitesmoke;
    padding-bottom: 30px;
    
}
.ABOUT__h1{
    font-size: 37px;
    text-align: center;
    padding-top: 100px;
}
.ABOUT__p{
    font-size: 20px;
    text-align: justify;
    padding: 0px 130px;
    color: gray;
}
.ABOUT__me__h2{
    font-size: 20px;
    margin-left: 5px;
}
.ABOUT__me__p{
    font-size: 20px;
    text-align:justify;
    color: gray;

}
.ABOUT__me{
    display: flex;
}
.ABOUT__me__hpb{
    flex: 1;
    margin-left: 40px;
    padding: 20px;

}
.ABOUT__me__demo{
    flex: 1;
    padding-left: 50px;
  
}
.ABOUT__me__skills{
    
    display: flex;
    gap: 50px;
}
.ABOUT__me__skills__h4{
    border: 1px solid gray;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    color: gray;
    padding: 5px;
}
@media(max-width:768px){
    .ABOUT__h1{
        font-size: 50px;
    }
    .ABOUT__p{
        font-size: 20px;
        padding: 50px;
    
    }
    .ABOUT__me__hpb{
        padding-right: 10px;
    }
    .ABOUT__me{
        flex-direction: column;
    }
    .ABOUT__me__skills{
        gap: 20px;
    }
    .ABOUT__me__h2{
        font-size: 40px;
    }
    .project1{
        flex-direction: column;
       
    }
    .project1__txt{
        text-align: center;
        padding-right: 10px;
    }
    
    .project1__txt__p{
        color: gray;
        display: flex;
        
        
        
    }
    .project1__button{
        margin-left: 150px;
    }
    .project__p{
        text-align: justify;
        padding: 0px 10px 0px 20px;
    }
   .project1__p123{
        display: flex;
        justify-content: center;
   }
   /* .project1__img{
    display: flex;
    justify-content: center;
   } */
}


/* .project{
     
} */
    
.project__txt{
    text-align: center;
    padding: 50px 0px 50px 0px;
    
}
.project__h1{
    font-size: 37px;

}
.project__p{
     font-size: 20px;
     color: gray;
     padding: 0px 130px;

}
@media(max-width:768px){
    .project__p{
        padding: 20px;
    }
    .project__h1{
        font-size: 35px;
    }
    .project1__img{
        margin-top: 50px;
    }
    .project1__txt{
        padding: 20px;
    }
}
.project1{
    display: flex;
    margin: 4vw;
    height: 80vh;

}
.project1__img{
    flex: 1;
    background-image: url("https://getlogo.net/wp-content/uploads/2020/04/bookmyshow-logo-vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    height: 50vh;
    place-items: center;
}
.project2__img{
    flex: 1;
    background-image: url("https://th.bing.com/th/id/OIP.ou9e0KlYG3s0Mplf51--TAHaEQ?w=293&h=180&c=7&r=0&o=5&pid=1.7 ");
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    height: 50vh;
    place-items: center;
    position: relative;
    left: 30px;
}
.project3__img{
    flex: 1;
    background-image: url("project-mockup-example.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    height: 50vh;
    place-items: center;
}
.project1__txt{
    flex: 1;
    flex-direction: column;
    text-align: justify;
}
.project1__txt__p{
    color: gray;
    font-size: 20px;
   
}
.project1__button{
    font-size: 16px; 
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #0062B9;
    text-decoration: none; 
    position: relative;
    top: 10%; 
}
.contact{
    background-image: url("common-bg.svg");
    height: 100%;
    background-color: rgb(33, 54, 86); 
    background-blend-mode: overlay;
    padding: 200px;
    
}
.contact__h2{
    color: #FFFFFF;
    font-size: 37px;
    display: flex;
    justify-content: center;  
}
.contact__p{
    color: #FFFFFF;
    font-size: 18px;
    text-align: justify;

}
.contact__info{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 14px;
    
    

}
.contact__inp{
    color: #333;
    padding: 10px;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 15px;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}
.contact__inp__msg{
     padding-bottom: 200px;
}
.contact__padding{
    padding: 40px;
}
.submit__button{
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    padding: 20px;
    
}
.submit__button__b{
    font-size: 15px;
    width: 15vw;
    padding: 14px; 
    color: white;
    background-color: #0062B9;
    text-decoration: none; 
    border-radius: 5px;
    border: 1px solid blue;

}
@media(max-width:768px){
    .contact__info{
        padding-left: 1px;
    }
    .contact{
        padding: 50px;
        margin-top: 20px;
    }
    .contact__p{
        font-size: 20px;
    }
    .project1__button{
        margin-bottom: 20px;
        border: 1px solid blue;
    }
    .submit__button__b{
        flex-grow: 1;
        
    }
}
.final{
    height:80%;
    background-color: #000000;
    color: #FFFFFF;
}
.final__content{
    display: flex;

    
}
.final__d{
    flex: 1;
    padding: 20px;
   margin-left: 80px;

}
.final__i{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.icon__size a{
    color: #FFFFFF;
  

}
.icon__size{
    display:flex;
    justify-content: center;
    gap: 20px;
    
}
.social{
    display: flex;
    justify-content: center;
  
   
}
.copyright{
    text-align: center;
    
}
@media(max-width:768px){
    .final__i{
        display: flex;
        justify-content: center;
    }
    .final__content{
        display: flex;
        flex-direction:column-reverse;
    }
}
.parent2{
    margin: 8vw;
    margin-left: 15vw;
    margin-top: 15vw;




}.parent2__img{
    display: flex;
    justify-content: center;
    
    
}
.parent2__buttons{
    display: flex;
    gap: 25px;

}
.parent2__buttons__live{
    width: 10vw;
    border: 1px solid #0062B9;
    background-color: #0062B9;
    color: #FFFFFF;
    padding: 1vw;
    border-radius: 5px;
    font-size: 1vw;
}
.parent2__buttons__cl{

    width: 10vw;
    background-color: #FFFFFF;
    border: 2px solid #0062B9;
    color: #0062B9;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 5px;
}
@media(max-width:768px){
    .parent2__buttons{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .parent2__buttons__live{
        width: 80%;
        padding: 10px;
        font-size: 2vw;
    }
    .parent2__buttons__cl{
        width: 80%;
        padding: 10px;
        font-size: 2vw;
    }
    .HOME__head{
        font-size: 4vw;
    }
}